.navbar{
    border-radius: 0px;
    background-color: #b31b1b;
    border-color:transparent;
    margin:0;
}
.active>a{
    color: #ffffff;
    background-color: white;
}
.main-banner{
    height:520px;
    background-image: url("/images/animeSociety20152016-2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: relative;
}
body{
    margin: 0 auto;
    padding:0;
}
.secondary-banner{
    background-color:#0099cc;
}
.circle{
    width:150px;
    height:150px;
    border-radius: 150px;
}
.purple-circle{
    background-color: #ccccff;
    line-height:200px;
    text-align: center;
}
.circle-glyph {
    font-size:75px;
}
.animeBackground{
    height:300px;
    background-image: url("images/VQaJKNO.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.red{
    background-color: #b31b1b;
    color:white;
}
.anime-cover-img{
    width:130px;
    height:200px;
}
.anime-title{
    font-size:20px;
    text-align: center;
}
.anime-container{
    text-align:center;
}
.side-img{
    width:200px;
    height: auto;
    padding:20px;
}
.eboardProfile{
    height:150px;
    width:150px;
    border-radius: 200px;
}